@import './variables';


.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;

    @media only screen  and (max-width: $mobileView) {
        width: 90%;
    }
}




.result{
    text-align: center;
    margin: 10px;


    @media only screen  and (max-width: $mobileView) {
        width: 20px;
    }
    
}


.teamName{
    align-items: center;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;

    @media only screen  and (max-width: $mobileView) {
        white-space: nowrap;
        font-size: 0.6rem;
        margin: 0 10px;
    }
}