@import './variables';


.container{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.logoContainer{
    height: 100%;
    @media only screen and (max-width: $mobileView) {
        
        height: 54px;
        width: 54px;
    
    }   
}


.list{
    display: flex;
    list-style: none;
    font-size: 1.5rem;


    li{
        margin: 0 30px;
        cursor: pointer;

    }


    @media only screen and (max-width: $mobileView) {
        font-size: 1rem;

        li{
            margin: 0 10px;
        }
    }
}


.standing{
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2rem;
    padding: 20px;
    position: absolute;
    top: 30px;
    -webkit-box-shadow: 0px 0px 15px 2px #000000; 
    box-shadow: 0px 0px 15px 2px #000000;
    
    
    a{
        margin: 5px 0;
        
        border-bottom: rgb(180, 180, 180) 2px solid;
    }
}


.hidden{
    opacity: 0;
}