@import './variables.scss';

.container{
    background-color: white;
    width: 70%;
    margin: 200px auto;
    padding: 20px 0;
    -webkit-box-shadow: 0px 0px 15px 2px #000000; 
    box-shadow: 0px 0px 15px 2px #000000;

    @media only screen  and (max-width: $mobileView) {
        width: 90%;
    }
}


.ligaTitle{
    text-align: center;
    margin: 20px 0;
}


#nomatch{
    text-align: center;
}


.gameTime{
    text-align: center;
}