@import './variables.scss';

.container{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;

    @media only screen  and (max-width: $mobileView) {
        width: 90%;
    }
}


.ligaTitle{
    text-align: center;
    margin: 20px 0;
}


#nomatch{
    text-align: center;
}


.gameTime{
    text-align: center;
}