@import './variables';

.container{
    background-color: white;
    width: 70%;
    margin: 200px auto;
    padding: 20px 0;
    -webkit-box-shadow: 0px 0px 15px 2px #000000; 
    box-shadow: 0px 0px 15px 2px #000000;

    @media only screen  and (max-width: $mobileView) {
        width: 90%;
    }
}

.laliga, .premierLeague{
    border-top: rgb(180, 180, 180) 2px solid;
    border-bottom: rgb(180, 180, 180) 2px solid;    font-weight: 600;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.Team{
    border-top: rgb(180, 180, 180) 2px solid;
    border-bottom: rgb(180, 180, 180) 2px solid;
    height: 30px;
    font-weight: 600;
    width: 100%;
    background-color: white;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
}